.TeamPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.TeamPage .win-loss{
    color: black;
    justify-self: center;
    padding: 50px;
    text-align: center;
}

.TeamPage .team-name{
    grid-column: span 3;
    justify-self: start;
    align-self: center;
}


.TeamPage .team-name .team-name-header{
    color: black;
    font-size: 4rem;
}

.TeamPage .match-details{
    width: 100%;
    grid-column: span 4;
}
.TeamPage .match-details .latest-matches{
    color: black;
}

.TeamPage .more{
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}